h1 {
  text-align: center;
  background-color: beige;
  border-radius: 25px;
}

h3 {
  background-color: #e0945d;
  border-radius: 25px;
  text-align: center;
}
.empContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.empKeg {
  height: 350px;
  width: 200px;
  border-radius: 25px;
  margin: 0 5;
}
.empKegChange {
  height: 350px;
  width: 200px;
  border-radius: 25px;
  margin: 0 5;
  background-color: #b51e1e;
}
.keg {
  height: 170px;
  width: 200px;
  background-color:rgba(245, 245, 220, 0.35);
  border-radius: 25px;
  padding: 10px;
  margin: 0 5;
}
.kegButtons {
}

body {
  background: url("../../resources/images/beer.jpg") fixed;
  background-size: cover;
}

.btn {
  margin: 2;
  background-color: rgba(204, 148, 23, 0.86);
}

.abvWarning {
  font-weight: bold;
  color: red;
}

.inputForm {
  background-color: rgba(245, 245, 220, 0.55);
  border-radius: 5px;
  padding: 0px 3px 3px 3px;
}
