h1 {
  text-align: center;
}
.empContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.empKeg {
  height: 350px;
  width: 200px;
  margin: 0 3;
}
.empKegChange {
  background-color: pink;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.keg {
  height: 170px;
  width: 200px;
  margin: 0 3;
}
.kegButtons {
}

body {
  background: url("../../resources/images/beer.jpg") fixed;
  background-size: cover;
}

.btn {
  margin: 2;
}
